@model Employee

<div class="form-group">
    <label asp-for="Name" class="col-form-label">Name</label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Age" class="col-form-label">Age</label>
    <input asp-for="Age" class="form-control" />
    <span asp-validation-for="Age" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Salary" class="col-form-label">Salary</label>
    <input asp-for="Salary" class="form-control" />
    <span asp-validation-for="Salary" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Address" class="col-form-label">Adress</label>
    <input asp-for="Address" class="form-control" />
    <span asp-validation-for="Address" class="text-danger"></span>
</div>

<div class="form-group">
    <div class="form-check">
        <input asp-for="IsActive" class="form-check-input" type="checkbox" id="isActiveCheckbox" />
        <label class="form-check-label" for="isActiveCheckbox">IsActive</label>
        <input type="hidden" asp-for="IsActive" />
    </div>
</div>


<div class="form-group">
    <label class="col-form-label">Gender</label>
    <div>
        <label class="radio-inline">
            <input type="radio" asp-for="Gender" value="Male" /> Male
        </label>
        <label class="radio-inline">
            <input type="radio" asp-for="Gender" value="Female" /> Female
        </label>
        <label class="radio-inline">
            <input type="radio" asp-for="Gender" value="Other" /> Other
        </label>
    </div>
    <span asp-validation-for="Gender" class="text-light"></span>
</div>

<div class="form-group">
    <label asp-for="Email" class="col-form-label">Email</label>
    <input asp-for="Email" class="form-control" type="email" />
    <span asp-validation-for="Email" class="text-danger"></span>
</div>
